$background-top: #669ffa;
$background-content: #accafa;
$button-col: rgba(17, 0, 255, 0.904);

body {
  .file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: $button-col;
  }
  position: relative;
  background-color: rgba(228, 80, 11, 0.541);
  button {
    display: inline-block;
    border: none;
    color: #fff;
    background-color: $button-col;
    padding: 15px 45px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    border-radius: 200px;
    text-align: center;
    outline: none;
    transition: background-color 0.1s ease;
    cursor: pointer;
    &::after {
      transition: background-color 0.2s ease;
      position: absolute;
      content: "";
      height: 4px;
      bottom: 0;
      width: 100%;
      background-color: darken($button-col, 50%);
      opacity: 0.18;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      left: 0;
    }
    &:hover {
      color: #fff;
    }
    &:hover {
      background-color: lighten($button-col, 5%);
      &::after {
        opacity: 0.22;
      }
    }
    &:active {
      background-color: darken($button-col, 5%);
      &::after {
        opacity: 0.32;
      }
    }
  }
}
table {
  margin-top: 100px;
  border-collapse: collapse;
  thead {
    font-family: Montserrat;
    background-color: $background-top;
    th {
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      border: 1px solid black;
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
        background-color: $background-content;
        transition: all 0.3s ease;
        border: 1px solid black;

        &:hover {
          background-color: #55709c;
        }
      }
    }
  }
}
